<div class="main-container">
  <div class="sub-container">
    <div class="content-container">
      <div class="main-content">
        <span class="content1"> Hi <span class="content2">Hasin</span>. </span>
        <span class="content3"> I am your <span class="content4">KIO</span>. </span>
      </div>
      <div class="img1-container"></div>
      <div class="sub-content">
        <span class="contentsec1">
          My dearest Hasin, you were not just my owner, but
          <span class="contentsec2">my first and only mother</span>. From the moment you brought me
          into your life, you treated me like your <span class="contentsec2">own child</span>. The
          love and care you showed me were beyond anything I could have ever
          imagined.
        </span>
        <span class="contentsec1"
          >You were always there for me, taking care of me with kindness and
          joy. Your gentle hands, beautiful voice, and endless love made every
          day special.</span
        >
        <span class="contentsec1">
          Though I must leave you now, know that my spirit will always be with
          you. You are the best and most <span class="contentsec2">loving mother</span> anyone could
          have. I will always remember the love you gave me.
        </span>
        <span class="contentsec1">
          I will miss you a lot, but I will always be in your memories, watching
          over you. Thank you for being the <span class="contentsec2">best mother</span>.
        </span>
        <span class="contentsec1">
          I love you and want you to be happy always.
        </span>
      </div>
    </div>
    <div class="img-container"></div>
  </div>
</div>
