<div class="parent">
    <div class="container1">
        <img class="img" src="assets/kiyo.png" alt="Avatar" />
    </div>
    <div class="container2">
        <div class="heart">&#x2665;</div>
    </div>

    <!-- <div>
        <p class="header" style="color: red; font-weight: bold">HASIN</p>
        <p class="header">I will always be in your memory</p>
    </div> -->
    <div class="container3">
        <img class="img" src="assets/kiyo.png" alt="Avatar" />
    </div>
</div>
<app-main></app-main>