<div class="parent">
    <div class="container1">
        <img class="img" src="assets/kio-crop.jpg" alt="Avatar" />
    </div>
    <div class="container2">
        <span class="header">
      <span style="color: #dc5695">KIO</span> &nbsp;&nbsp;
        <span class="heart">&#x2665;</span> &nbsp;&nbsp;
        <span style="color: #bd6bf7">HASIN</span></span>
    </div>

    <!-- <div>
        <p class="header" style="color: red; font-weight: bold">HASIN</p>
        <p class="header">I will always be in your memory</p>
    </div> -->
    <div class="container3">
        <img class="img" src="assets/hasin4.jpg" alt="Avatar" />
    </div>
</div>
<app-main></app-main>