* {
    margin: 0px;
    padding: 0px;
    height: auto;
    box-sizing: border-box;
    background: #000000;
}

.parent {
    width: 100%;
    height: 100vh;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    padding: 60px 100px 70px 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: black;
    align-self: stretch;
}

.container1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.container2 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    align-self: stretch;
}

.container3 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
}

.header {
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-size: 30px;
    align-self: stretch;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.heart {
    font-size: 45px;
    top: 20px;
    color: #e00;
    animation: beat .25s infinite alternate;
    transform-origin: center;
    text-align: center;
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

@media (max-width: 426px) {
    .parent {
        padding: 15px;
        flex-direction: column;
        gap: 75px;
    }
    .container1 {
        width: 100%;
        height: fit-content;
    }
    .container2 {
        width: 100%;
        height: fit-content;
        gap: 7px;
    }
    .container3 {
        width: 100%;
        height: fit-content;
    }
    .img {
        width: 200px;
        height: 200px;
    }
    .heart {
        font-size: 30px;
        top: 20px;
    }
}

@media (min-width:426px) and (max-width: 769px) {
    .parent {
        padding: 15px;
        flex-direction: column;
        gap: 75px;
    }
    .container1 {
        width: 100%;
        height: fit-content;
    }
    .container2 {
        width: 100%;
        height: fit-content;
        gap: 7px;
    }
    .container3 {
        width: 100%;
        height: fit-content;
    }
    .img {
        width: 200px;
        height: 200px;
    }
    .heart {
        font-size: 30px;
        top: 20px;
    }
}

@media (min-width:769px) and (max-width: 1025px) {
    .img {
        width: 200px;
        height: 200px;
    }
    .heart {
        font-size: 40px;
        top: 20px;
    }
    .container2 {
        gap: 7px;
    }
}

@media (min-width:1025px) and (max-width: 1441px) {
    .container2 {
        gap: 7px;
    }
    .heart {
        font-size: 30px;
        top: 20px;
    }
    .img {
        width: 250px;
        height: 250px;
    }
}